.required::after{
    content: " *";
    color: red;
}


/* : "",
    jobTitle: "",
    loggedInUserName: "",
    jobCategory: "Onsite",
    salaryRange: "",
    jobDescription: "",
    jobPostingDate: "",
    applicationDeadline: "",
    jobApplicantsNumber: 0, */