.custom{
    color: #F2994A;
    font-weight: 700;
    font-size: 16px;

}

.custom::before{
    content: "|";
    margin-right: 20px;
}
.custom::after{
    content: "|";
    margin-right: 20px;
    margin-left: 20px;
}